<h1 class="animated fadeIn fast">Sobre Comic App</h1>
<hr>
<p class="animated fadeIn" style="text-align: justify;">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae excepturi numquam sit tempora recusandae iure pariatur labore voluptatem, voluptatum voluptatibus eum nisi molestias harum iste omnis totam provident enim aperiam. Lorem ipsum dolor sit amet
    consectetur adipisicing elit. Quae excepturi numquam sit tempora recusandae iure pariatur labore voluptatem, voluptatum voluptatibus eum nisi molestias harum iste omnis totam provident enim aperiam. Lorem ipsum dolor sit amet consectetur adipisicing
    elit. Quae excepturi numquam sit tempora recusandae iure pariatur labore voluptatem, voluptatum voluptatibus eum nisi molestias harum iste omnis totam provident enim aperiam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae excepturi
    numquam sit tempora recusandae iure pariatur labore voluptatem, voluptatum voluptatibus eum nisi molestias harum iste omnis totam provident enim aperiam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae excepturi numquam sit tempora recusandae
    iure pariatur labore voluptatem, voluptatum voluptatibus eum nisi molestias harum iste omnis totam provident enim aperiam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae excepturi numquam sit tempora recusandae iure pariatur labore
    voluptatem, voluptatum voluptatibus eum nisi molestias harum iste omnis totam provident enim aperiam.
</p>